{% extends 'exam/base.html' %}

{% block content %}
    <h1>Exam: {{ exam.title }}</h1>
        <form method="post">
            {% csrf_token %}
            <!-- Display questions here -->
            {% for question in exam.question_set.all %}
                <div class="question">
                    <p>{{ question.question_text }}</p>
                    {% if question.question_type == "multiple-choice" %}
                        <ul>
                            {% for option in question.options %}
                                <li>
                                    <input type="radio" name="question_{{ question.question_id }}" value="{{ option.value|safe }}">
                                    {{ option.label|safe }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% elif question.question_type == "true-false" %}
                        <label>
                            <input type="radio" name="question_{{ question.question_id }}" value="True"> True
                        </label>
                        <label>
                            <input type="radio" name="question_{{ question.question_id }}" value="False"> False
                        </label>
                    {% else %}
                        <input type="text" name="question_{{ question.question_id }}">
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit">Submit Exam</button>
        </form>
{% endblock %}
